<ng-template #confirmDialog let-close="close" let-dismiss="dismiss" let-data="data">
  <hc-modal>
    <hc-modal-header>Confirm</hc-modal-header>
    <hc-modal-body>Are you sure you want to remove all {{data.grain}}/{{data.securableItem}} roles from {{data.member.subjectId}}?</hc-modal-body>
    <hc-modal-footer>
      <button hc-button buttonStyle="secondary" (click)="dismiss()"> Cancel </button>
      <button hc-button buttonStyle="primary" (click)="close(data)"> OK </button>
      </hc-modal-footer>
  </hc-modal>
</ng-template>

<div class="access-control-container">
  <div class="header">
    <h1>Manage {{grain}}/{{securableItem}} roles</h1>
  </div>

  <div class="header">
    <button hc-button color="primary" [hcPopover]="options" popperPlacement="right" aria-hidden="true">
      Add&nbsp;
      <hc-icon class="btn-icon-right" fontSet="fa" fontIcon="fa-angle-down" icon-sm aria-hidden="true"></hc-icon>
    </button>
    <hc-popover-content #options>
      <ul class="list-options">
        <li>
          <a [routerLink]="['/access-control/member', grain, securableItem]">Directory Group or User</a>
        </li>
        <li>
          <a [routerLink]="['/access-control/customgroup', grain, securableItem]">Custom Group</a>
        </li>
      </ul>
    </hc-popover-content>

    <div hcInputIcon>
      <input hc-input class="hc-input" name="filter" placeholder="filter" [(ngModel)]="filter" (keyup)="keyUp.next($event)" />
      <hc-icon class="filter" fontSet="fa" fontIcon="fa-filter"></hc-icon>
    </div>
  </div>
  
  <div>
    <hc-progress-spinner *ngIf="searchesInProgress > 0" [diameter]="30" [color]="'blue'" [hasChannel]="true" [isCentered]="true"
      [isDeterminate]="false">
    </hc-progress-spinner>
    <table class="hc-table">
      <thead>
        <tr>
          <th [class.sortKey]="sortKey === 'displayName'" [class.sortOption]="sortKey !== 'displayName'" (click)="changeSort('displayName')">
            <span>Name</span>
            <hc-icon *ngIf="sortKey === 'displayName'" fontSet="fa" icon-sm [fontIcon]="sortDirection === 'asc' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'"></hc-icon>
            <hc-icon *ngIf="sortKey !== 'displayName'" fontSet="fa" icon-sm [fontIcon]="'fa-exchange'"></hc-icon>
          </th>
          <th>
            <span>Type</span>
          </th>
          <th [class.sortKey]="sortKey === 'role'" [class.sortOption]="sortKey !== 'role'" (click)="changeSort('role')">
            <span>Roles</span>
            <hc-icon *ngIf="sortKey === 'role'" fontSet="fa" icon-sm [fontIcon]="sortDirection === 'asc' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'"></hc-icon>
            <hc-icon *ngIf="sortKey !== 'role'" fontSet="fa" icon-sm [fontIcon]="'fa-exchange'"></hc-icon>
          </th>
          <th>
            <!-- Delete button column -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members">
          <td>
            <a (click)="goToMemberEdit(member)">{{member.displayName}}</a>
          </td>
          <td>{{member.entityType}}</td>
          <td>{{selectRoleNames(member.roles).join(', ')}}</td>
          <td>
            <hc-icon fontSet="fa" class="btn-icon" fontIcon="fa-trash" (click)="removeRolesFromMember(member)"></hc-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">
    <div class="pageSize">
      <label hc-label>Show:</label>
      <hc-select highlight="false" [(ngModel)]="pageSize" (ngModelChange)="onSearchChanged()">
        <option *ngFor="let size of availablePageSizes" [value]="size" [selected]="pageSize === size">{{size}}</option>
        <option *ngIf="totalMembers <= maxPageSize" [value]="totalMembers">All</option>
      </hc-select>
      <label hc-label>
        of
        <span class="totalMembers">{{totalMembers}}</span> entries
      </label>
    </div>
    <div class="pagination">
      <hc-pagination [totalPages]="totalPages" [(pageNumber)]="pageNumber"></hc-pagination>
    </div>
  </div>
</div>
