<div>
    <button hc-button color="primary" [hcPopover]="options" popperPlacement="bottom" aria-hidden="true">
      Add&nbsp;
      <hc-icon class="btn-icon-right" fontSet="fa" fontIcon="fa-angle-down" icon-sm aria-hidden="true"></hc-icon>
    </button>

    <hc-popover-content #options>
      <ul class="list-options">
        <li><a routerLink="/accesscontrol/memberadd">Directory Group or User</a></li>
        <li><a routerLink="/accesscontrol/customgroupadd">Custom Group</a></li>
      </ul>

    </hc-popover-content>
</div>

<div>
    <table class="hc-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of members">
                <td><a [routerLink]="['/accesscontrol/memberedit', member.identityProvider, member.subjectId]">{{member.name}}</a></td>
                <td>{{member.entityType}}</td>
                <td>{{selectRoleNames(member.roles)}}</td>
                <button (click)="removeRolesFromMember(member)">X</button>
            </tr>
        </tbody>
    </table>
</div>
