<div class="header">
  <button hc-button color="primary" [hcPopover]="options" popperPlacement="bottom" aria-hidden="true">
    Add&nbsp;
    <hc-icon class="btn-icon-right" fontSet="fa" fontIcon="fa-angle-down" icon-sm aria-hidden="true"></hc-icon>
  </button>
  <hc-popover-content #options>
    <ul class="list-options">
      <li>
        <a routerLink="/accesscontrol/memberadd">Directory Group or User</a>
      </li>
      <li>
        <a routerLink="/accesscontrol/customgroupadd">Custom Group</a>
      </li>
    </ul>
  </hc-popover-content>

  <div hcInputIcon>
    <input hc-input name="filter" placeholder="filter" [(ngModel)]="filter" (keyup)="keyUp.next($event)" />
    <hc-icon fontSet="fa" fontIcon="fa-filter"></hc-icon>
  </div>
</div>

<div>
  <hc-progress-spinner *ngIf="searchesInProgress > 0"
      [diameter]="30"
      [color]="'blue'"
      [hasChannel]="true"
      [isCentered]="true"
      [isDeterminate]="false">
  </hc-progress-spinner>
  <table class="hc-table">
    <thead>
      <tr>
        <th [class.sortKey]="sortKey === 'name'" (click)="changeSort('name')">
          <span>Name</span>
          <hc-icon fontSet="fa" icon-sm [fontIcon]="sortDirection === 'asc' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'"></hc-icon>
        </th>
        <th>
          <span>Type</span>
        </th>
        <th [class.sortKey]="sortKey === 'role'" (click)="changeSort('role')">
          <span>Roles</span>
          <hc-icon fontSet="fa" icon-sm [fontIcon]="sortDirection === 'asc' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'"></hc-icon>
        </th>
        <th><!-- Delete button column --></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <td>
          <a (click)="goToMemberEdit(member)">{{member.name}}</a>
        </td>
        <td>{{member.entityType}}</td>
        <td>{{selectRoleNames(member.roles)}}</td>
        <td>
          <hc-icon fontSet="fa" class="remove-button" fontIcon="fa-trash" (click)="removeRolesFromMember(member)"></hc-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="footer">

</div>
