$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';

$FontPathOpenSans: "../node_modules/typeface-open-sans/files";
@import '../node_modules/typeface-open-sans/index.css';

@import "~@healthcatalyst/cashmere/scss/cashmere";

@import '~ngx-toastr/toastr.css';

/////////// #TODO: Fix Cashmere in IE
input.hc-input, div.input-icon {
  height: 35px !important;
}
.hc-input{
  color: #333;
  font-size: 1rem;
  line-height: 32px;
  border: 1.5px solid #ccc;
  font-family: inherit;
  padding: 0 12px;
  }
hc-icon.filter {
  color: #a1a1a1;
  position: relative;
  right: 35px;
  pointer-events: none;
}
.hc-inner-button, .hc-left-button, .hc-right-button {
  min-width: 15px !important;
}
.spinner {
  z-index: 20000;
}
/////////// #endtodo
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: $slate-gray-100;
}

button {
  // ie reset for default button color
  background-color: #DCDCDC;
}
