$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';

$FontPathOpenSans: "../node_modules/typeface-open-sans/files";
@import '../node_modules/typeface-open-sans/index.css';

@import "~@healthcatalyst/cashmere/cashmere";

@import '~ngx-toastr/toastr.css';

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: $slate-gray-100;
}
