<?xml version="1.0" encoding="utf-8"?>
<installation>
  <settings>
    <scope name="common">
      <!-- The encrypted Fabric.Installer client secret, used for registering additional 
           API's and Clients with Fabric.Identity -->
      <variable name="fabricInstallerSecret" value="" />
      <!-- The thumb-print of an SSL certificate to use for encrypting/decrypting sensitive 
           information in the config. For initial installation it is recommended to use the 
           thumb-print of the certificate providing TLS/SSL for the website. -->
      <variable name="encryptionCertificateThumbprint" value="" />
    </scope>
    <scope name="authorization">
      <!-- The path to the location of the zip file that contains the binaries for Fabric.Authorization -->
      <variable name="zipPackage" value="Fabric.Authorization.API.zip" />
      <!-- The root of the web site where you want to install Fabric.Authorization -->
      <variable name="webRoot" value="C:\inetpub\wwwroot" />
      <!-- The name of the app and app pool that will be created in IIS -->
      <variable name="appName" value="authorization" />
      <!-- The user account for the app to run under in IIS -->
      <variable name="iisUser" value="IIS_IUSRS" />
      <!-- The thumb-print of an SSL certificate to use for encrypting/decrypting sensitive 
           information in the config. For initial installation it is recommended to use the 
           thumb-print of the certificate providing TLS/SSL for the website. -->
      <variable name="encryptionCertificateThumbprint" value="" />
      <!-- The URL:port of the CouchDB server -->
      <variable name="couchDbServer" value="http://127.0.0.1:5984" />
      <!-- The username for the CouchDb server -->
      <variable name="couchDbUsername" value="" />
      <!-- The password for the CouchDb server -->
      <variable name="couchDbPassword" value="" />
      <!-- An Azure Application Insights instrumentation key that allows telemetry to be recorded 
           in Azure Application Insights. If no instrumentation key is provided, 
           no telemetry will be sent. -->
      <variable name="appInsightsInstrumentationKey" value="" />
      <!-- The name of the IIS website to install the application under -->
      <variable name="siteName" value="Default Web Site" />
      <!-- The URL to Fabric.Identity -->
      <variable name="identityServerUrl" value="http://localhost/identity" />
      <!-- The URL of the root web site that the application is being installed on -->
      <variable name="hostUrl" value="http://localhost"/>
    </scope>
  </settings>
</installation>