<?xml version="1.0" encoding="utf-8"?>
<installation>
  <settings>
    <scope name="common">
      <variable name="fabricInstallerSecret" value="" />
      <variable name="encryptionCertificateThumbprint" value="" />
    </scope>
    <scope name="authorization">
      <variable name="zipPackage" value="Fabric.Authorization.API.zip" />
      <variable name="webRoot" value="C:\inetpub\wwwroot" />
      <variable name="appName" value="authorization" />
      <variable name="iisUser" value="IIS_IUSRS" />
      <variable name="sslCertificateThumbprint" value="" />
      <variable name="couchDbServer" value="http://127.0.0.1:5984" />
      <variable name="couchDbUsername" value="" />
      <variable name="couchDbPassword" value="" />
      <variable name="appInsightsInstrumentationKey" value="" />
      <variable name="siteName" value="Default Web Site" />
      <variable name="identityServerUrl" value="http://localhost/identity" />
      <variable name="hostUrl" value="http://localhost"/>
    </scope>
  </settings>
</installation>