<?xml version="1.0" encoding="utf-8"?>
<installation>
  <settings>
    <scope name="common">
      <!-- The encrypted Fabric.Installer client secret, used for registering additional 
           API's and Clients with Fabric.Identity -->
      <variable name="fabricInstallerSecret" value="" />
      <!-- The thumb-print of an SSL certificate to use for encrypting/decrypting sensitive 
           information in the config. For initial installation it is recommended to use the 
           thumb-print of the certificate providing TLS/SSL for the website. -->
      <variable name="encryptionCertificateThumbprint" value="" />
      <!-- The address of the Sql Server Instance -->
      <variable name="sqlServerAddress" value="" />
      <!-- The database name of the metadata database -->
      <variable name="metadataDbName" value="EDWAdmin" />
      <!-- The address of the Identity Service -->
      <variable name="identityService" value="" />
      <!-- The address of the Discovery Service -->
      <variable name="discoveryService" value="" />
    </scope>
    <scope name="authorization">
      <!-- The URL of the authorization service -->
      <variable name="authorizationService" value="" />
      <!-- The path to the location of the zip file that contains the binaries for Fabric.Authorization -->
      <variable name="zipPackage" value="Fabric.Authorization.API.zip" />
      <!-- The root of the web site where you want to install Fabric.Authorization -->
      <variable name="webRoot" value="C:\inetpub\wwwroot" />
      <!-- The name of the app and app pool that will be created in IIS -->
      <variable name="appName" value="Authorization" />
      <!-- The user account for the app to run under in IIS -->
      <variable name="iisUser" value="" />
      <!-- The thumb-print of an SSL certificate to use for encrypting/decrypting sensitive 
           information in the config. For initial installation it is recommended to use the 
           thumb-print of the certificate providing TLS/SSL for the website. -->
      <variable name="encryptionCertificateThumbprint" value="" />
      <!-- An Azure Application Insights instrumentation key that allows telemetry to be recorded 
           in Azure Application Insights. If no instrumentation key is provided, 
           no telemetry will be sent. -->
      <variable name="appInsightsInstrumentationKey" value="" />
      <!-- The name of the IIS website to install the application under -->
      <variable name="siteName" value="Default Web Site" />
      <variable name="hostUrl" value="http://localhost" />
      <!-- The name of the Authorization database on the sql server instance -->
      <variable name="authorizationDbName" value="Authorization" />
      <!-- The Sql Server role that the app pool user will be added to -->
      <variable name="authorizationDatabaseRole" value="AuthorizationServiceRole" />
    </scope>
  </settings>
</installation>