<div class="error-container">
  <div class="error-tile">
    <div class="content-column">
        <div class="error-img"></div>
    </div>
    <div class="content-column">
        <div class="error-header-string">Logged Out</div>
        <div class="error-message-light">
            You have been logged out of the AccessControl application. 
        </div>
    </div>
    <hr>
    <div class="logged-out-footer">
      <div class="error-button" (click)="goToHomepage()">Login</div>
    </div>
  </div>
</div>