@import "~@healthcatalyst/cashmere/colors";

.hc-input {
    width: 300px;
}

.associated-users {
    table {
        border-collapse: initial;
    }
    display: flex;
    flex-flow: row wrap;

    .empty-notification {
        display: flex;
        flex-flow: column-reverse;
        align-items: center;
        height: 100px;
        &>label {
            font-size: 16px;
            font-weight: 600;
            color: $gray-300;
        }
    }

    .middle {
        flex: 1 0 0px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        button {
            font-size: 1.5em;
            color: $gray-600;
            border: none;
            border-radius: 5px;
            padding: 25px 15px;
            margin: 5px 0;
            &:hover {
                background-color: $gray-300;
            }
        }
    }

    .left,.right{
        flex: 10 0 0px;        
        box-sizing: border-box;
        .table-container {
            border: 2px solid $gray-200;
            height: 300px;
            overflow-y: auto;
        }
    }
    
    .top {
        width: 100%;
        padding: 0 0 15px 0;
    }    
}

.custom-groups{
    span{
        padding: .25em 0 .25em 0;
        display: block;        
        font-weight: 600;
    }
}