<div class="access-control-container">
    <h3 class="h3">
        <span>Custom Group Name</span>
    </h3>
    <div class="input-combo">
        <input hc-input class="hc-input" required [(ngModel)]="displayName" [readOnly]="editMode" [highlight]="groupNameInvalid" (keyup)="groupNameSubject.next($event.target.value)" placeholder="enter group name">
        <i [class]="searchingGroup ? 'btn-icon fa fa-spinner fa-pulse fa-fw' : 'btn-icon fa fa-search'"></i>
        <div class="form-errors" *ngIf="groupNameInvalid" [innerText]="groupNameError"></div>
    </div>
    <div class="custom-groups" *ngIf="customGroups.length > 0">
    <span>Select an existing group:</span>
        <ul class="member-list">
            <li *ngFor="let group of customGroups">
                <hc-checkbox [id]="group.id" [(ngModel)]="group.selected" (click)="customGroupSelected(group)"></hc-checkbox>
                <span [innerText]="getGroupNameToDisplay(group)">
                </span>
            </li>
        </ul>
    </div>
    <h3 class="h3">
        <span>Associated Users &amp; Groups</span>
    </h3>
        <div class="top">
            <div class="input-combo">
                <input hc-input class="hc-input" [(ngModel)]="searchTerm" (keyup)="searchTermSubject.next($event.target.value)" placeholder="search for users or groups">
                <i [class]="searching ? 'btn-icon fa fa-spinner fa-pulse fa-fw' : 'btn-icon fa fa-search'"></i>
                </div>
            </div>
            <div class="associated-users">
        <div class="left">
            <h3>Available</h3>
            <div class="list-container">
                <ul class="member-list">
                    <li *ngFor="let principal of principals">
                        <hc-checkbox [id]="principal.subjectId + principal.principalType" [(ngModel)]="principal.selected">
                        </hc-checkbox>
                        <span *ngIf="principal.principalType == 'user'" [innerText]="principal.identityProviderUserPrincipalName || principal.subjectId">
                        </span>
                        <span *ngIf="principal.principalType == 'group'" [innerText]="principal.subjectId">
                        </span>
                        <span [innerText]="'(' + principal.principalType + ')'">
                        </span>
                    </li>
                </ul>
                <div class="empty-notification" *ngIf="!initializing && principals.length === 0">
                    <label>Search to find Users &amp; Groups</label>
                </div>
            </div>
        </div>
        <div class="middle">
            <button (click)="associateUsersAndGroups()">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
            <button (click)="unAssociateUsersAndGroups()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
        </div>
        <div class="right">
            <h3>Selected</h3>
            <div class="list-container">
                <ul class="member-list">
                    <li *ngFor="let user of associatedUsers">
                        <hc-checkbox [id]="user.subjectId + user.type" [(ngModel)]="user.selected">
                        </hc-checkbox>
                        <span [innerText]="getUserNameToDisplay(user)"></span>
                        <span>(user)</span>
                    </li>
                    <li *ngFor="let group of associatedGroups">
                        <hc-checkbox [id]="group.groupName + group.type" [(ngModel)]="group.selected">
                        </hc-checkbox>
                        <span [innerText]="group.groupName"></span>
                        <span>(group)</span>
                    </li>
                </ul>
                <div class="empty-notification" *ngIf="!initializing && associatedUsers.length === 0 && associatedGroups.length === 0">
                    <label>Add Users</label>
                </div>
            </div>
        </div>
    </div>
    <h3 class="h3">
        <span>Roles</span>
    </h3>
    <table class="hc-table hc-table-borders">
        <thead>
            <tr>
                <th></th>
                <th>Role Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roles">
                <td>
                    <hc-checkbox [id]="role.id" [(ngModel)]="role.selected">
                    </hc-checkbox>
                </td>
                <td [innerText]="role.displayName || role.name"></td>
                <td [innerText]="role.description"></td>
            </tr>
        </tbody>
    </table>

    <div class="form-errors" *ngIf="groupNameInvalid" [innerText]="associatedNameError"></div>
    <div class="buttons">
        <button hc-button id="saveButton" color="primary" (click)="save()" [disabled]="this.initializing || this.savingInProgress || this.missingManageAuthorizationPermission" [title]="disabledSaveReason">Save</button>
        <a hc-button (click)="cancel()" color="secondary">Cancel</a>
        <hc-progress-spinner class="spinner" *ngIf="this.savingInProgress"
          [diameter]="30"
          [color]="'blue'"
          [hasChannel]="true"
          [isCentered]="false"
          [isDeterminate]="false">
        </hc-progress-spinner>
    </div>
</div>
