<div>
  <p>Custom Group Name</p>
   <input [(ngModel)]="customGroupName">
</div>

<div>
    <p>Associate Users</p>
  <input #searchTerm (keyup)="onKey(searchTerm.value)">
  <ul class="users">
      <li *ngFor="let user of users"
          [class.selected]="userIsSelected(user)"
          (click)="onUserSelect(user)">
          {{user.subjectId}}
      </li> 
  </ul>    
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>           
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of selectedUsers">
                <td>{{user.subjectId}}</td>
                <button (click)="removeUserSelection(user)">X</button>
            </tr>  
        </tbody>
    </table>
</div>
<div>  
  <p>Roles</p>
  <ul class="roles">
    <li *ngFor="let role of roles"
        [class.selected]="roleIsSelected(role)"
        (click)="onRoleSelect(role)">
        {{role.name}}
    </li>
  </ul>
</div>
<div>    
  <button (click)="addGroupWithUsersAndRoles()">Save</button>
</div>
