<hc-navbar appIcon="./assets/AccessControlLogo.svg" brandIcon="./assets/TriFlame.svg" user="" homeUri="access-control"  [fixedTop]="false">
  <hc-icon class="hc-navbar-icon" fontSet="fa" fontIcon="fa-th" [hcPop]="appSwitcher"></hc-icon>
  <hc-icon class="hc-navbar-icon" fontSet="fa" fontIcon="fa-question-circle-o" [hcPop]="helpMenu"></hc-icon>
</hc-navbar>

<hc-pop #appSwitcher [showArrow]="false" horizontalAlign="end">
  <hc-app-switcher></hc-app-switcher>
</hc-pop>

<hc-pop #helpMenu [autoCloseOnContentClick]="true" [showArrow]="false" horizontalAlign="end">
  <div hcMenu>
      <a hcMenuItem [href]="appInfo.docsLink" target="_blank">
          <hc-icon hcMenuIcon fontSet="fa" fontIcon="fa-book"></hc-icon>
          <span hcMenuText>Read the docs</span>
      </a>
      <a hcMenuItem href="https://community.healthcatalyst.com/dos/i/feature-requests" target="_blank">
          <hc-icon hcMenuIcon fontSet="fa" fontIcon="fa-lightbulb-o"></hc-icon>
          <span hcMenuText>Request a feature</span>
      </a>
      <a hcMenuItem href="https://community.healthcatalyst.com/dos/f/questions" target="_blank">
          <hc-icon hcMenuIcon fontSet="fa" fontIcon="fa-users"></hc-icon>
          <span hcMenuText>Ask the community</span>
      </a>
      <a hcMenuItem [href]="appInfo.releaseNotes" target="_blank">
          <hc-icon hcMenuIcon fontSet="fa" fontIcon="fa-bullhorn"></hc-icon>
          <span hcMenuText>Find out what's new</span>
      </a>
      <a hcMenuItem [href]="surveyURL" target="_blank">
          <hc-icon hcMenuIcon fontSet="fa" fontIcon="fa-comments"></hc-icon>
          <span hcMenuText>Send feedback</span>
      </a>
      <div hcMenuItem hcDivider></div>
      <button hcMenuItem (click)="aboutApp(about)">
          <hc-icon hcMenuIcon fontSet="fa" fontIcon="fa-info-circle"></hc-icon>
          <span hcMenuText>About</span>
      </button>
  </div>
</hc-pop>

<ng-template #about let-close="close">
  <hc-modal>
    <div class="about-modal-content">
      <div class="about-header">
          <img src="./assets/HealthCatalyst_Horizontal.svg" class="about-logo" alt="Health Catalyst Logo" />
          <div class="about-app">
              <div class="about-icon">
                  <img src="./assets/AccessControl.svg" alt="Access Control Icon" />
              </div>
              <div class="about-name">
                  <img src="./assets/AccessControlLogo.svg" alt="Access Control Logo" style="width: 134px"/>
                  <div class="about-version">
                    DOS Version {{appInfo.dosVersion}}
                  </div>
              </div>
          </div>
      </div>
      <div class="about-footer">
          Copyright {{currentYear}} <a href="https://www.healthcatalyst.com/">Health Catalyst</a>. All rights reserved
          <br>
          <a href="https://www.healthcatalyst.com/terms-conditions/">Terms and Conditions</a>  |  <a href="https://www.healthcatalyst.com/privacy-policy/">Privacy Policy</a>
      </div>
    </div>
    <hr class="about-divider">
    <div class="about-close-container">
      <button hc-button class="about-close" (click)="close()">Close</button>
    </div>
  </hc-modal>
</ng-template>

<div class="error-container">
    <div class="error-tile">
      <div class="content-column">
          <div class="error-img"></div>
      </div>
      <div class="content-column">
          <div class="error-header-string">Error</div>
          <div class="error-message-light">
              Your browser is currently set to block cookies. You need to allow cookies
              to use this service.
          </div>
          <div><br/></div>
          <div class="error-message-light">
              Cookies are small text files stored on your computer that tell us when you're
              signed in. To learn how to allow cookies, check the online help in your
              web browser.
          </div>
      </div>
      <hr>
      <div class="logged-out-footer">
        <div class="error-button" (click)="reload()">Refresh</div>
      </div>
    </div>
  </div>
