@import "~@healthcatalyst/cashmere/scss/colors";

.error-container{
    margin: 100px auto;
    .logged-out-footer{
        width: 215px;
        padding-bottom: 20px;
        margin: 0 auto;
    }
}
