<div class="left" *ngIf="isGrainVisible">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <hc-icon fontSet="fa" [fontIcon]="getIcon(node)" icon-sm aria-hidden="true"></hc-icon>
      <a style="cursor: pointer;" [class]="isSelectedNode(node)" title="{{node.name}}">
        &nbsp;{{node.name}}
      </a>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <hc-icon fontSet="fa" [fontIcon]="getIcon(node)" icon-sm aria-hidden="true"></hc-icon>
      <a style="cursor: pointer;" [class]="isSelectedNode(node)" title="{{node.name}}" matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" (click)="onSelect(node)">
        &nbsp;{{node.name}}
      </a>
    </mat-tree-node>
  </mat-tree>
</div>

<div class="right">
  <app-member-list [selectedNode]="selectedNode"></app-member-list>
</div>
