.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  width: 90%;
}

.item-sub {
  padding-top:10px;
  padding-left:20px;
}

.item {
  padding-top:20px;
  padding-left:10px;
}
