<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand hc-logo' [routerLink]="['/home']"><img src="/assets/HC_logo.svg"/></a>
    </div>
    <div class='clearfix'></div>
      <div class='navbar-collapse collapse'>
          <ul class='nav navbar-nav'>
              <li [routerLinkActive]="['link-active']">
                  <a [routerLink]="['/home']">
                      <span class='glyphicon glyphicon-home'></span> Home
                  </a>
              </li>
              <li [routerLinkActive]="['link-active']">
                  <a [routerLink]="['/viewpatient']">
                      <span class='glyphicon glyphicon-th-list'></span> View Patient
                  </a>
              </li>
              <li [routerLinkActive]="['link-active']" *ngIf="!isUserAuthenticated">
                  <a [routerLink]="['/login']">
                      <span class='glyphicon glyphicon-th-list'></span> Login
                  </a>
              </li>
              <li [routerLinkActive]="['link-active']" *ngIf="isUserAuthenticated">
                  <a [routerLink]="['/logout']">
                      <span class='glyphicon glyphicon-th-list'></span> Logout
                  </a>
              </li>
          </ul>
      </div>
      <div class='profile' *ngIf="isUserAuthenticated">
        <p> Hello {{profile.name}}!</p>
      </div>
  </div>
</div>
