@import "~@healthcatalyst/cashmere/colors";

.access-control-container {
    padding: 30px 45px;
}

.buttons {
margin: 50px 0 0 0;
}

.h3 {
margin: 25px 0;
display: flex;
flex-direction: row;
>span {
    padding-right:20px;
}

// horizantal line
&::after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid $gray-200;
    margin: auto;
}
}

table.hc-table {
&.hc-table-borders th {
    border: none;
}

&>thead>tr>th:first-child,&>tbody>tr>td:first-child {
    width: 70px;
}
}

.scroll-table{
$scrollbar-width: 0.9em;
display: flex;
flex-flow: column;
max-height: 180px;

thead,
tbody tr {
    display: table;
    table-layout: fixed;
}

thead {
    flex: 0 0 auto;
    width: calc(100% - $scrollbar-width);
}

tbody {
    display: block;
    flex: 1 1 auto;
    overflow-y: auto;

    tr {
    width: 100%;
    }
}
}

.btn-icon {
cursor: pointer;
color: $gray-400;
&:hover {
    color: $black;
}
}

.input-combo .fa {
color: $gray-400;
position: relative;
right: 35px;
pointer-events: none;
}