@import '~@healthcatalyst/cashmere/scss/colors';
@import '~@healthcatalyst/cashmere/scss/table.class';
@import '~@healthcatalyst/cashmere/scss/modals';

.access-control-container {
    padding: 30px 45px;
}

.buttons {
margin: 50px 0 0 0;
}

.h3 {
margin: 25px 0;
display: flex;
flex-direction: row;
>span {
    padding-right: 20px;
}

// horizantal line
&::after {
    content: '';
    flex: 1 1;
    border-bottom: 2px solid $gray-200;
    margin: auto;
}
}

table.hc-table {
    &.hc-table-borders th {
        border: none;
    }

    &>thead>tr>th:first-child,&>tbody>tr>td:first-child {
        width: 70px;
    }

    th.sortKey {
        &>hc-icon,&>span{
            cursor: pointer;
        }
    }
}

ul.member-list {
    overflow-y:auto;
    max-height: 290px;
    list-style: none;
    padding-left: 0;
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #e2e4e7;
        padding: 5px;
        span {
            padding-right: 5px;
        }
    }
}

.btn-icon {
cursor: pointer;
color: $gray-400;
&:hover {
    color: $black;
}
}

.input-combo .fa {
color: $gray-400;
position: relative;
right: 35px;
pointer-events: none;
}
