<div>
  <label>
    Name
  </label>
</div>
<div>
  <input #searchTerm (keyup)="onKey(searchTerm.value)">
  <ul class="princpals">
      <li *ngFor="let principal of principals"
          [class.selected]="principal === selectedPrincipal"
          (click)="onPrincipalSelect(principal)">
          {{principal.subjectId}}
      </li> 
  </ul>    
</div>
<div>  
  <ul class="roles">
    <li *ngFor="let role of roles"
        [class.selected]="roleIsSelected(role)"
        (click)="onRoleSelect(role)">
        {{role.name}}
    </li>
  </ul>
</div>

<div>
  <button (click)="addMemberWithRoles()">Save</button>
</div>
