<hc-navbar appIcon="./assets/CashmereAppLogo.svg" brandIcon="./assets/TriFlame.svg" user="Christine K." [homeUri]="access-control"  [fixedTop]="false">
  <hc-navbar-link [active]="true" uri="access-control" linkText="Access Control"></hc-navbar-link>
  <hc-navbar-icon>
      <hc-icon fontSet="fa" fontIcon="fa-question-circle-o" [hcPopover]="options" popperPlacement="bottom"></hc-icon>
  </hc-navbar-icon>
</hc-navbar>

<hc-popover-content #options>
  <ul class="list-options">
      <li>
          <a href="https://www.healthcatalyst.com/" target="_blank">Health Catalyst</a>
      </li>
      <li>
          <a href="https://community.healthcatalyst.com/" target="_blank">Health Catalyst Community</a>
      </li>
  </ul>
</hc-popover-content>

<router-outlet></router-outlet>
