@{
    ViewData["Title"] = "Home Page";
}

@*<div>*@
  @*  <div>*@
        <div class="row-centered logo-row">
            <img src="~/images/HC_logo.svg" alt="ASP.NET" />
        </div>
    @*</div>*@
@*</div>*@

<div class="row">
    <h2>Hello, world!</h2>
    <p>This is an example of an ASP .NET Core MVC app authenticating to Fabric.Identity.</p>
    <p>To test it out:</p>
    <ul>
        <li>Navigate to View Patient</li>
        <li>Login</li>
        <li>Click the link to call the API</li>
    </ul>
</div>
