@{
    ViewData["Title"] = "View Patient";
}
<h2>@ViewData["Title"].</h2>

<p>Click the link below to call the patient demographic data api using a user token.</p>
<div>
    <a asp-action="CallApiUsingUserAccessToken">Call API using user token</a>
</div>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>
